
   




 {% block main %}
{{ form_start(form) }}
 <a  class="btn btn-primary" data-toggle="modal" data-target="#add_post_button" href="{{ path('user_create')}}"> add</a>
    <div class="modal fade" id="add_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Créer un user</h4>
                </div>
                <div class="modal-body">
                        
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                   
                </div>
            </div>
        </div>
    </div>
   {{ form_widget(form.email) }}
{% endblock %} 
<script>$('#add_post_button').on("click", function () {
    $.ajax({
        url: Routing.generate('user_create'),
        type: 'POST',
        dataType: 'html',
        success: function (code_html, statut) {
            $(code_html).appendTo('#modal_form');
            $('#add_user').modal('show');
 
            $('#submit_user').on("click", function () {
                var data = $("[name='post']").serialize();
                $.ajax({
                    url: Routing.generate('user_create'),
                    type: 'POST',
                    data: data
                });
            });
        }
    });
});</script>
 